<style>
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }
</style>
<div style="overflow-x:auto;">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Course No</th>
        <th scope="col">Course Name</th>
        <th scope="col">Fees</th>
        <th scope="col">Duration</th>
        <th scope="col">Participants</th>
        <th scope="col">Course Content</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{course.courseID}}</td>
        <td>{{course.courseName}}</td>
        <td>{{course.fees}}</td>
        <td>{{course.duration}}</td>

        <td><button class="btn btn-info" type="submit" (click)="onClick(course.courseID)">Show</button></td>
        <td><button class="btn btn-info" type="submit" (click)="showContent(course.courseID)">Show Course
            Content</button>
        </td>

      </tr>


    </tbody>


  </table>

</div>
<div *ngIf="isClick" style="overflow-x:auto;
width:100%;
display: flex;
justify-content: center;

">
  <tr>
    <a style="color: rgb(0, 52, 104); font-size: 20px;">Students Taking The Course
    </a>
  </tr>
  <tr *ngFor="let s of studentDetail">

    <td><a style="font-weight: bold;">Student No:</a>{{s.studentId}}</td>
    <td><a style="font-weight: bold;">Student Name:</a>{{s.studentName}}</td>

  </tr>
  <tr>
    <td> <button class="btn btn-info" type="submit" (click)="close()" style="vertical-align:auto;">Close</button>
    </td>
  </tr>

</div>
<div *ngIf="isContent" style="overflow-x:auto;
width:100%;
display: flex;
justify-content: center;

">
  <tr>
    <a style="color: rgb(0, 52, 104);; font-size: 20px;">Course Content
    </a>
  </tr>
  <tr>

    <td>
      <textarea readonly rows="5" cols="30" disabled>
      {{courseDetail.courseContent}}
    </textarea>

    </td>

  </tr>
  <tr>
    <td> <button class="btn btn-info" type="submit" (click)="closeContent()" style="text-align: center;">Kapat</button>
    </td>
  </tr>

</div>
